﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <button type="button" class="button">Add to Cache</button>
        <button type="button" class="buttonUpdate">update data</button>
        <button type="button" class="buttonCacheRemove">Clear Cache</button>
</div>
</div>
<div class="col-md-4">
       <div class="placeholder"></div>
    </div>
    <div class="col-md-4">
       
    </div>    
</div>
